@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap') ;

.timer {
  color: #e4e6eb;
  font-family: Alfa Slab One , cursive;
  font-size: 24px;
  text-shadow: 3px 3px 3px black;
  -webkit-text-stroke: 1px black;
  transition: all 1s ease-in-out;
}

.game-screen-content {
  align-items: center;
  display: flex;
  flex-direction: column;
  height: 73vh;
  justify-content: center;
}

@media only screen and (max-width: 1020px) {
  .timer {
    font-size: 20px;
  }
}
